 /*-------colores----------*/
 
 $color_1:#ff9500;
 $colro_2:#3232;
 $color_3:#fff;
 $color_precio:red;
 /*-------background----------*/
 
 $bg_1:#eeeeee;
 $bg_2:#424242;
 $bg_3:#fff;
 $bg_descuento:red;
 /*-------boton----------*/
 
 $border_btn:5px;
 $padding_btn:15px 30px;
 /*-------fuentes----------*/
 
 $ff_1:'Montserrat',
 sans-serif;
 $ff_2:'Ubuntu',
 sans-serif;
 $ff_3:'Lobster',
 cursive;